services:
  gis-ui:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_BASE_URL: "http://localhost:3000"
    # image: ghcr.io/armandwipangestu/gis-ui:1.1.0
    container_name: gis-ui
    restart: unless-stopped
    ports:
      - "5173:80"
    logging:
      driver: "json-file"
      options:
        max-size: "500M"
        max-file: "3"
